@use "theme.scss" as theme;
@use "var" as var;

.credits {
  @include var.widget;
  padding: 5px 20px;
  position: relative;
  top: 15px;
  text-align: center;

  .credits-start {
    text-shadow: 0 0 4px #fff;
  }
  .credits-link {
    @include var.links;
  }
}
