@use "theme.scss" as theme;

$radius: 8px;

@mixin widget($border: true) {
  background: theme.$background-alt;
  color: theme.$foreground;
  border-radius: $radius;

  @if $border {
    outline: 2px solid theme.$background-alt;
    border: 2px solid theme.$background;
  }
}

@mixin links {
  font-weight: bold;
  &:visited {
    color: theme.$foreground;
  }
  &:hover {
    text-shadow: 0 0 4px #fff;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}

@mixin phones($small: false) {
  @if $small {
    .displays {
      font-size: 12px;
      padding: 3px;

      .displays-link {
        margin: 0 5px;
      }
    }
  } @else {
      .displays {
        font-size: 15px;
        padding: 3px;

        .displays-link {
          margin: 0 5px;
        }
      }
   }
}
