body {
  font-family: "Ubuntu";
  background: #000;
  color: #fff; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  header > img {
    width: 230px;
    border-radius: 8px; }

section {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
