.about-me {
  background: #232a2d;
  color: #dadada;
  border-radius: 8px;
  outline: 2px solid #232a2d;
  border: 2px solid #141b1e;
  padding: 5px 20px;
  position: relative;
  top: 15px;
}
.about-me .about-me-start {
  text-align: center;
  text-shadow: 0 0 4px #fff;
}
.about-me .about-me-second {
  text-align: center;
}
.about-me .about-me-third {
  text-align: center;
}
.about-me .about-me-content {
  display: flex;
  vertical-align: middle;
}

.social-media {
  background: #232a2d;
  color: #dadada;
  border-radius: 8px;
  outline: 2px solid #232a2d;
  border: 2px solid #141b1e;
  padding: 5px 20px;
  position: relative;
  top: 15px;
}
.social-media .social-media-start {
  text-shadow: 0 0 4px #fff;
  text-align: center;
}
.social-media .social-links {
  color: #dadada;
  box-shadow: NONE;
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
}
.social-media .social-links .sl-github {
  font-weight: bold;
}
.social-media .social-links .sl-github:visited {
  color: #dadada;
}
.social-media .social-links .sl-github:hover {
  text-shadow: 0 0 4px #fff;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.social-media .social-links .sl-instagram {
  font-weight: bold;
}
.social-media .social-links .sl-instagram:visited {
  color: #dadada;
}
.social-media .social-links .sl-instagram:hover {
  text-shadow: 0 0 4px #fff;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.projects {
  background: #232a2d;
  color: #dadada;
  border-radius: 8px;
  outline: 2px solid #232a2d;
  border: 2px solid #141b1e;
  padding: 5px 20px;
  position: relative;
  top: 15px;
  text-align: center;
}
.projects .projects-start {
  text-shadow: 0 0 4px #fff;
}
.projects .project-link {
  font-weight: bold;
}
.projects .project-link:visited {
  color: #dadada;
}
.projects .project-link:hover {
  text-shadow: 0 0 4px #fff;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.credits {
  background: #232a2d;
  color: #dadada;
  border-radius: 8px;
  outline: 2px solid #232a2d;
  border: 2px solid #141b1e;
  padding: 5px 20px;
  position: relative;
  top: 15px;
  text-align: center;
}
.credits .credits-start {
  text-shadow: 0 0 4px #fff;
}
.credits .credits-link {
  font-weight: bold;
}
.credits .credits-link:visited {
  color: #dadada;
}
.credits .credits-link:hover {
  text-shadow: 0 0 4px #fff;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

body {
  font-family: "Ubuntu";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #141b1e;
  margin: 5px;
}

.profile {
  text-align: center;
}
.profile .pfp {
  width: 230px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0px 3px 3px #000;
  position: relative;
  top: 15px;
}
.profile .pfp:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.profile .name {
  background: #232a2d;
  color: #dadada;
  border-radius: 8px;
  padding: 5px;
  position: relative;
  top: 15px;
  font-weight: bold;
}

.displays {
  background: #232a2d;
  color: #dadada;
  border-radius: 8px;
  padding: 5px 15px;
}
.displays .displays-link {
  text-decoration: none !important;
  font-weight: bold;
  margin: 0 15px;
}
.displays .displays-link:visited {
  color: #dadada;
  border: NONE;
  outline: NONE;
}
.displays .displays-link:hover {
  text-shadow: 0 0 4px #fff;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

a {
  color: inherit !important;
}
a:focus {
  color: #6cbfbf !important;
}

@media (max-width: 600px) {
  .displays {
    font-size: 15px;
    padding: 3px;
  }
  .displays .displays-link {
    margin: 0 5px;
  }
}
@media (max-width: 320px) {
  .displays {
    font-size: 12px;
    padding: 3px;
  }
  .displays .displays-link {
    margin: 0 5px;
  }
}

/*# sourceMappingURL=style.css.map */
